.messages {
  background: #180c3c;
  border: 2px solid;
  border-image-source: linear-gradient(
    270deg,
    #514d67 -1.31%,
    rgba(209, 206, 232, 0) 50%
  );
  border-radius: 16px;
  height: 215px;
  margin-bottom: 20px;




  border-image-source: linear-gradient(270deg, #514D67 -1.31%, rgba(209, 206, 232, 0) 50%);
  
  


}
